
<div class="sidebar">
    <ul>
        <li> <a href="#"> <i class="fas fa-qrcode"> </i>Dashboards</a></li>
        <li> <a href="#"> <i class="fas fa-link"> </i>Shortcuts</a></li>
        <li> <a href="#"> <i class="fas fa-stream"> </i>Overview</a></li>
        <li> <a href="#"> <i class="fas fa-calendar-week"> </i>Events</a></li>
        <li> <a href="#"> <i class="far fa-question-circle"> </i>About</a></li>
        <li> <a href="#"> <i class="fas fa-sliders-h"> </i>Services</a></li>
        <li> <a href="#"> <i class="far fa-envelope"> </i>Contacts</a></li>
    </ul>
</div>

<div class="container"> 
    <section class="col-sm-8">
            
    </section>

</div>


