<div class="main" align="center">
    <h1 id="logo"> LOGO </h1>
    <form id="myform" method="POST">
        <div class="animated slideInRight">
            <div>
                <input class="inp" type="text" name="email" placeholder="Email" required>
            </div> 
            <br>
            <div> 
                <input class="inp" type="password" name="password" placeholder="Password" required>
            </div> 
            <br>
            <button class="but" type="submit" name="submit"> Log in </button> 
            <br>
            <br>
            <p id="recover"> <a class="create" href="#"> Forgotten Password? </a></p>
            <br>
            <div>
                <p id="option"> Don't have an account? </p> 
                <a class="create" href="signUp.html"> Sign up </a>
            </div>
        </div>
    </form>
    
    
    <footer>		
        <div class="navbar-fixed-bottom footer">
            <div>
                <p> <b>&copy 2019 </b> </p>
            </div>
            <a href = "Project.html"> PARTNERS </a> &nbsp;&nbsp;
            <a href = "Contact.html">CONTACT</a> &nbsp;&nbsp;
            <a href = "Index.html"> FAQ</a> &nbsp;&nbsp;
        </div>
    </footer>


</div>