
#logo{
    text-align: center;
    color: #1b95e0;
    font-weight: bold;
}

.main{
    font-size: 14pt;
    margin-top: 80px;
    background: white;
    border: 4px solid white;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.animated{
    animation-delay: 1.1s;
}

.inp{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 4px solid #1b95e0;
    border-radius: 15%;
    font-weight: bold;
}

.footer{
    background: transparent;
    color: #0b3e5d;
    font-size: 11pt;
    font-weight: bold;
    width: 100%;
}

.footer > a{
    color: #0b3e5d;
    text-decoration: none;
}